<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="2OfhsNe1ULvF-5Qv-8NLyv_YQTwwYEzsE9KUsrbNtG4" />
    <title>Registration/Login</title>
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--    <script src="https://apis.google.com/js/api:client.js"></script>-->

    <meta name="google-signin-client_id" content="250084795277-3uq4fb3umm94o94mmhl6i96g2tqk6krk.apps.googleusercontent.com">
    <style>
        span.buttonText {color: blue;}
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%;">
        <div id="my-signin2" class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <script>
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': false
          });

          let el = $('.abcRioButtonContentWrapper > span > span');
          el.text('GOOGLE');
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>
